/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sens';
  color: rgb(43, 39, 39);
  line-height: 1.5;

}

#navbar {
  width: 25%;
  height: 100vh;
  background-color: #802c6e;
  list-style: none;
}

#main-doc {
  width: 75%;
  background-color: whitesmoke ;
  height: 100vh;
}

.nav-link {
  text-decoration: none;
  font-family: 'Open Sens';
  color: rgb(248, 238, 238);
  line-height: 1.5;
}

.ul-navbar {
  list-style: none;

}

code {
  padding: 5px;
  background-color: bisque;
}